<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tr.nsergey.uchetKomplektacii">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="Учет комплектации"
        android:theme="@style/DefaultTheme">
        <activity
            android:name="com.tr.nsergey.uchetKomplektacii.View.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Учет комплектации">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.modification"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Model.QueueResolver"
            android:exported="false" />
        <service
            android:name=".Services.TokenRefreshService"
            android:exported="false"/>
        <service android:name=".Services.BackupService"
            android:exported="false"/>
    </application>
</manifest>